#movie {
	display: none;
	background-image: url('nodata.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width:240px;
	height:450px;
}

img{
	height:50vh;
}
 
